# Environment
.env*

# External packages
.venv/
node_modules/

# MacOS
.DS_Store

# Cache
__pycache__/
.pytest_cache/
.ruff_cache/

# Coverage
htmlcov/
.coverage
coverage.xml

# Build artifacts
dist/

# AI agents
.sisyphus/
