[submodule ".opencode/skills/ralph-playbook/repo"]
	path = .opencode/skills/ralph-playbook/repo
	url = https://github.com/ClaytonFarr/ralph-playbook.git
[submodule ".opencode/skills/opencode/repo"]
	path = .opencode/skills/opencode/repo
	url = https://github.com/anomalyco/opencode
